@model IEnumerable<WetherApp.ViewModel.CityDto>

@{
    ViewBag.Title = "Contact";
}

<h2>Watchlist of cities </h2>

<div style="display: flex;
    justify-content: space-between;
    align-items: center;">
    <div>
        @Html.ActionLink("Create New", "Index")
    </div>
    <div>
        Temperature in Celsius: <input type="checkbox" name="checkbox1" id="checkbox1" />
    </div>
    <div>
        @Html.ActionLink("Update temperature", "UpdateTempeture")
    </div>
</div>
<table class="table" id="mytable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.localization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.humidity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.temp) 

        </th>
        <th style="color:@TempData["CityErrorMessageColor"];">
            @TempData["CityErrorMessage"]
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.localization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.humidity)
        </td>
        <td class="temp">
            @Html.DisplayFor(modelItem => item.temp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>


    </tr>
}

</table>
<script>
    $(function () {
        var rows = document.getElementById("mytable").getElementsByTagName("tr").length;
        console.log(rows);
        $('#checkbox1').change(function () {  
            if (this.checked) {
                for (var i = 1; i < rows; i++) {
                    let tempeture = document.getElementById("mytable").rows[i].cells[2].innerHTML
                    console.log(tempeture);
                    tempeture = tempeture.replace(/,/g, '.');
                    let Celsius = parseFloat(tempeture) - 273.15;
                    document.getElementById("mytable").rows[i].cells[2].innerHTML = Celsius.toFixed(2).toString().replace(".", ",");
                    //console.log(tempeture);
                }
            } else {
                for (var i = 1; i < rows; i++) {
                    let tempeture = document.getElementById("mytable").rows[i].cells[2].innerHTML;
                    tempeture = tempeture.replace(/,/g, '.');
                    let Kelvin = parseFloat(tempeture) + 273.15;
                    document.getElementById("mytable").rows[i].cells[2].innerHTML = Kelvin.toFixed(2).toString().replace(".", ",");
                    //console.log(tempeture);
                }
            }
        });
    })
</script>