@model WetherApp.ViewModel.CityDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CityDto</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.localization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.localization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.humidity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.humidity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.temp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.temp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Contact")
</p>
