@model WetherApp.Models.City
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Explore</h1>
    <p>Enter the name of the city to know the weather.</p>
    @using (Html.BeginForm("GetCityFromApi", "Home", FormMethod.Post))
    {
        <input type="text" placeholder="City" name="city" id="city" class="btn btn-lg " style="width:280px;"/> <input type="submit" class="btn btn-primary btn-lg" />
        @ViewBag.MessageError
        if (ViewBag.Checking)
        {
            <div>
                <h4><u>Information:</u></h4>
                <h5>Name:<b> @Html.DisplayFor(m => m.name)</b>           </h5>
                <h5>Country:<b> @Html.DisplayFor(m => m.country)</b>     </h5>
                <h5>Humidity:<b> @Html.DisplayFor(m => m.humidity)%</b>  </h5>
                <h5>Temperature:<b> @Html.DisplayFor(m => m.temp) K</b>    </h5>
            </div>
            @Html.ActionLink("Add city", "Add", "Home")

        }


    }
    
</div>
